<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Projects", projects_path , class: 'black' %></li>
    <li class="breadcrumb-item active" aria-current="page">New</li>
  </ol>
</nav>

<%= render 'form' %>
