[database]
# Ubuntu
#host = /var/run/postgresql
# MacOS
host = /private/tmp
database = simple_todo_test

[data]
# Any fields in the data section are available in migration templates
app_user = m7cahn
