body
  background-color: #1f1f1f !important

.card, .card-footer, .table, .breadcrumb
  background-color: #262626 !important
  color: #bababa !important

.form-control
  background-color: #262626
  border: 1px solid #595959 !important
  color: #bababa !important
  &:focus
    background-color: #262626

.black
  color: #bababa !important

.table-hover tr
  color: #bababa !important

.search-btn
  border: 1px solid #595959 !important
  color: #bababa !important